<h2> Select a random Joke from a category</h2>
<br>
<table class="table">
  <tbody>
    <% @categories.each_with_index do |category, index| %>
      <% if index%5 == 1 %>
        <tr>
          <td><a href='/jokes/category?value=<%= category.value %>'><%= category.value.capitalize %></a></td>
      <% elsif index%5 == 0 %>
          <td><a href='/jokes/category?value=<%= category.value %>'><%= category.value.capitalize %></a></td>
        </tr>
      <% elsif index == (@categories.count +1) %>
        </tr>
      <% else %>
        <td><a href='/jokes/category?value=<%= category.value %>'><%= category.value.capitalize %></a></td>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>

<a href='/jokes/random' type="button" class="btn btn-primary">Random Joke</a>

<br>


<%= form_with model: @search, url: "/searches" do %>
  <div class="form-group">
    <%= label_tag(:q, "Search jokes:", class: 'col-sm-2 col-form-label',for: 'query') %>
    <%= text_field_tag :q, '', class: 'form-control col-sm-5', id: 'query' %>
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
<% end %>