<!DOCTYPE html>
<%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<html>
  <head>
    <title>Chuck Norris</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- As a link -->
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Chuck Norris</a>
    </nav>
    <%= yield %>
  </body>
</html>
